<h2>Heart Disease Prediction</h2>

<form action="/result" method="post">

Age <input name="age"><br>

Gender (1=Male,0=Female) <input name="gender"><br>

Height <input name="height"><br>

Weight <input name="weight"><br>

Systolic BP <input name="ap_hi"><br>

Diastolic BP <input name="ap_lo"><br>

Cholesterol (1-3) <input name="cholesterol"><br>

Glucose (1-3) <input name="gluc"><br>

Smoking (0/1) <input name="smoke"><br>

Alcohol (0/1) <input name="alco"><br>

Physical Activity (0/1) <input name="active"><br>

<button type="submit">Predict</button>

</form>